@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

// COMPONENT MAIN OPTIONS //

.root {
  background-color: $projectPage-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $projectPage-text-color;
  text-align: center;
  padding: 10px;
}

.container {
  padding: 10px;
}

// BUTTON AND CATEGORIES //

button {
  border: none;
  background-color: $projectPage-background-color-button;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &:hover,
  &.active {
    color: $projectPage-color-button-active;
    background: $projectPage-background-color-button-active;
    text-decoration: none;
  }

  &.active {
    color: $projectPage-color-button-active;
  }
}

.projectCategories {
  text-align: center;
  color: $projectPage-text-color-categories;
}

.categoryTitle {
  margin: 0 10px 0 10px;
}

// VIEW //

.title {
  color: black;
}

.logo {
  height: 350px;
  width: 350px;
  pointer-events: none;
  padding: 5px;
}
