@import "../../../styles/settings.scss";


.panelBar {
    border: blue solid 1px; 
    margin-bottom: 30px;
    position: relative;
}

.menu {
    text-align: center;
    border: red solid 1px; 
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border: red solid 1px; 
}

li {
    display: inline-block;
    margin: 0 0.5rem;
    font-weight: 600;
    border: pink solid 1px;
}

