@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

// COMPONENT MAIN OPTIONS //

.root {
  background-color: $portfolioMain-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $portfolioMain-text-color;
  padding: 20px;
}

// CATEGORIES //

.panelBar {
  position: relative;
  background-color: $portfolioMain-background-color-categories;
  padding: 10px;
  margin: auto;
}

.menu {
  text-align: center;
}

.portfolioUl {
  list-style: none;

  button {
    border: none;
    background-color: $portfolioMain-categories-background-color-button;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin: 5px;

    &:hover,
    &.active {
      color: $portfolioMain-color-button-active;
      background: $portfolioMain-background-color-button-active;
      text-decoration: none;
    }

    &.active {
      color: $portfolioMain-color-button-active;
    }
  }
}

li {
  display: inline-block;
  font-weight: 600;
}

// PROJECTS VIEW //

.container {
  width: 100%;;
}
