@import '../../../styles/settings.scss';

.root {
  margin-bottom: 30px;
  background-color: grey;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .panelBar {
    color: pink;
    border: blue solid 1px;
    margin-bottom: 30px;
    position: relative;
    background-color: pink;
  }
}

.menu {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    color: white;
    text-decoration: none;

    &:hover,
    &.active {
      color: red;
      text-decoration: none;
    }

    &.active {
      color: pink;
    }
  }
}

li {
  display: inline-block;
  margin: 0 0.5rem;
  font-weight: 600;
}
