@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

.header {
  background-color: $header-background-color;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $header-text-color;
  text-align: center;
}

.link {
  color:$header-color-link;
  text-decoration: none;

  &:hover,
  &.active {
    color: $header-color-link-active;
    text-decoration: none;
  }
}
