@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';


.link{
  color:black;
  text-decoration: none;

  &:hover,
  &.active {
    color: black;
    text-decoration: none;
  }
}

.date {
  font-size: 20px;
  color: pink;
}

.title {
  font-size: 22px;
  color: black;
}

.logo {
  height: 200px;
  width: 200px;
  pointer-events: none;
  border: solid 1px red;
}

.projectWindow {
  border: solid 1px blue;
  position: relative;
}
