@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

// LINK //

.link{
  color: $projects-color-link;
  text-decoration: none;

  &:hover,
  &.active {
    color: $projects-color-link-active;
    text-decoration: none;
  }
}

// PROJECT SMALL WINDOW VIEW //

.projectWindow {
  position: relative;
  height: 300px;
  width: 350px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  height: 300px;
  width: 350px;
  padding: auto;
  pointer-events: none;
  object-fit: cover;
}

.title {
  position: absolute;
  font-size: 22px;
  color: $projects-color-title;
  margin: auto;
  padding: auto;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
