@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

// COMPONENT MAIN OPTIONS //
// LINK // 

.link{
  color:black;
  text-decoration: none;

  &:hover,
  &.active {
    color: black;
    text-decoration: none;
  }
}

// PROJECT SMALL WINDOW VIEW //

.projectWindow {
  position: relative;
  height: 225px;
  width: 225px;
  background-color: lightgrey;
}

.logo {
  height: 225px;
  width: 225px;
  pointer-events: none;
}

.title {
  position: absolute;
  font-size: 22px;
  color: black;
  margin: auto;
  padding: auto;
  bottom: 8px;
  width: 10em;
  text-align: center;
}
