@import '../../../styles/settings.scss';
@import '../../../styles/bootstrap.scss';

.footer {
  background-color: $footer-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: $footer-text-color;
  text-align: center;
}
